*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
body{
  background-image: url(../picture/fill.jpg);
  background-size: cover;
}
img{
  width: 100%;
  border-radius: 10px;
}
input{
  text-align: center;
  margin-top: 1em;
  height: 3em;
  width: 30em;
  border-radius: 5px;
}
#search{
  text-align: center;
}
section{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.box{
  float: left;
  width: 22%;
  margin-left: 2.3%;
  margin-top: 3em;
  text-align: center;
  font-size: 1.4em;
}
.box p{
  padding-top: .4em;
}
